# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
next-env.d.ts

# Production
/uploads/

# Env
.env
.env*.local

# Prisma
prisma/dev.db

# Misc
.DS_Store
*.pem
npm-debug.log*
.vercel
*.tsbuildinfo
